<%include ./common/header.html%>
	<div id="js_login_body">
		<!--loading-->
		<%include ./common/loading.html%>

		<!--login content-->
		<transition name="login">
			<div id="js_login_content" v-if="!firstLoading">
				<!--logo-->
				<i class="iconfont icon-githublogo"></i>

				<!--login-->
				<transition name="loginShow">
					<div class="login-input-box" v-show="!firstLoading && login">
						<div class="login-username">
							<i class="iconfont icon-1"></i>
							<input type="text" class="login-input" maxlength="30" v-model="email" placeholder="请输入您的邮箱地址">
						</div>
						<div class="login-username login-password">
							<i class="iconfont icon-password"></i>
							<input type="password" class="login-input" v-model="password" maxlength="15" placeholder="请输入您的密码">
						</div>
						<button type="button" class="login-btn" @click="checkOutMsg('login')" v-bind="{disabled:reqLoading}">
							<div class="login-btn-box" :class="{'btn-width':reqLoading}">
								<i class="css-loading" v-if="reqLoading"></i>
								<i class="login-btn-text">登录</i>
							</div>
						</button>
					</div>
				</transition>

				<!--register-->
				<transition name="registerShow">
					<div class="login-input-box" v-show="!firstLoading && register">
						<div class="login-username">
							<i class="iconfont icon-1"></i>
							<input type="text" class="login-input" maxlength="30" v-model="email" placeholder="请输入您的邮箱地址">
						</div>
						<div class="login-username login-password">
							<i class="iconfont icon-username"></i>
							<input type="text" class="login-input" maxlength="30" v-model="userName" placeholder="请输入您的昵称">
						</div>
						<button type="button" class="login-btn" @click="checkOutMsg('register')" v-bind="{disabled:reqLoading}">
							<div class="login-btn-box" :class="{'btn-width':reqLoading}">
								<i class="css-loading" v-if="reqLoading"></i>
								<i class="login-btn-text">验证</i>
							</div>
						</button>
					</div>
				</transition>

				<!--forget-->
				<transition name="registerShow">
					<div class="login-input-box" v-show="!firstLoading && forget">
						<div class="login-username">
							<i class="iconfont icon-1"></i>
							<input type="text" class="login-input" maxlength="30" v-model="email" placeholder="请输入您的邮箱地址">
						</div>
						<div class="login-username login-password">
							<i class="iconfont icon-username"></i>
							<input type="password" class="login-input" v-model="userName" maxlength="15" placeholder="请输入您的昵称">
						</div>
						<button type="button" class="login-btn" @click="checkOutMsg('forget')" v-bind="{disabled:reqLoading}">
							<div class="login-btn-box" :class="{'btn-width':reqLoading}">
								<i class="css-loading" v-if="reqLoading"></i>
								<i class="login-btn-text">验证</i>
							</div>
						</button>
					</div>
				</transition>

				<!--reset-->
				<transition name="registerShow">
					<div class="login-input-box" v-show="!firstLoading && reset">
						<div class="login-username">
							<i class="iconfont icon-password"></i>
							<input type="password" class="login-input" v-model="password" maxlength="15" placeholder="请输入您的密码">
						</div>
						<div class="login-username login-password">
							<i class="iconfont icon-password"></i>
							<input type="password" class="login-input" v-model="confirmPassword" maxlength="15" placeholder="请确认您的密码">
						</div>
						<button type="button" class="login-btn" @click="checkOutMsg('password')" v-bind="{disabled:reqLoading}">
							<div class="login-btn-box" :class="{'btn-width':reqLoading}">
								<i class="css-loading" v-if="reqLoading"></i>
								<i class="login-btn-text">重置</i>
							</div>
						</button>
					</div>
				</transition>

				<!--foot-->
				<div class="login-foot-box" v-show="isShowFooter">
					<span @click="toggleShow('forget')" v-show="login">忘记密码</span>
					<span @click="toggleShow('register')" v-show="login">点击注册</span>
					<span @click="toggleShow" v-show="register || forget || reset">已有账号，直接登录</span>
				</div>
			</div>
		</transition>

		<%include ./common/popup.html%>

    </div>
<%include ./common/footer.html%>