html{
	width: 100%;
	min-height: 100%;
}
body{
	width: 100%;
	min-height: 100%;
	background-attachment: fixed;
	background: url(https://imio.oss-cn-shanghai.aliyuncs.com/chat/img/index-bg.jpg) no-repeat center center/cover;
}

#js_index_body{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	color: #fff;
}


.index-content{
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 10;
	margin-bottom: 2.5rem;
}
.index-header{
	width: 100%;
	height: 2.2rem;
	overflow: hidden;
	position: relative;
	z-index: 10;
	background: rgba(50,50,50,0.5);
	font-size: 0.65rem;
	line-height: 2.2rem;
	color: #eacb20;
}
.index-header span{
	text-align: left;
}
.header-right-box{
	height: 2.2rem;
	line-height: 2.2rem;
	float: right;
	padding-right: 0.5rem;
	overflow: hidden;
	font-size: 0.5rem;
}
.header-right-text{
	padding: 0.1rem 0.4rem;
	color: #e1e1e1;
	border-radius: 0.2rem;
	line-height: 1;
}
.index-header i{
	display: inline-block;
	float: left;
	padding: 0 0.5rem;
	font-size: 0.9rem;
}
.index-content-title{
	position: relative;
	width: 100%;
	padding: 1rem 0.5rem;
	font-size: 0.55rem;
	box-shadow:0px -1px 2px #666;
	-webkit-box-shadow:0px -1px 2px #666;
}
.title-right{
	display: inline-block;
	float: right;
}
.index-content-list-box{
	position: relative;
	width: 100%;
	overflow: hidden;
	padding: 0 0.5rem;
}
.index-content-list{
	position: relative;
	width: 100%;
	overflow: hidden;
	margin-bottom: 1rem;
	padding-left: 0.5rem;
	font-size: 0.6rem;
	background: rgba(30,30,30,0.5);
}
.index-content-list:nth-child(1n){
	border-left: 1px solid #fcab53;
}
.index-content-list:nth-child(2n){
	border-left: 1px solid #ff3366;
}
.index-content-list:nth-child(3n){
	border-left: 1px solid #449a10;
}
.index-content-list:nth-child(4n){
	border-left: 1px solid #0b4bcc;
}
.index-content-list:nth-child(5n){
	border-left: 1px solid #3e08d8;
}
.list-top{
	font-size: 0.55rem;
	padding-right: 0.5rem;
	line-height: 300%;
}
.recommend{
	color: #eacb20;
}
.list-top i{
	display: inline-block;
	float: right;
	margin-left: 0.4rem;
	font-size: 0.55rem;
}
.font-size-color{
	color: #e1e1e1;
}
.list-top i span{
	display: inline-block;
	padding-left: 0.2rem;
	font-size: 0.6rem;
	color: #e1e1e1;
}
.list-detail{
	display: inline-block;
	font-size: 0.55rem;
	line-height: 150%;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
	color: #e1e1e1;
}
.index-footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2.5rem;
	z-index: 9999;
	background: rgba(50,50,50,0.8);
}
.login-foot-box{
	position: relative;
	width: 100%;
	height: 2.5rem;
	text-align: center;
	line-height: 2.5rem;
	border-top:1px solid rgba(234,203,32,0.8);
	left: 50%;
	margin-left: -50%;
	display: box;
	display:-moz-box;
	display: -webkit-box;
}
.login-foot-box span{
	display:block;
	box-flex:1;
	-moz-box-flex:1;
	-webkit-box-flex:1;
	position: relative;
	font-size: 0.7rem;
	color:#fff;
}

/*creat-room-dom*/
.creat-room-box{
    position: fixed;
    width: 80%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    font-size: 0.6rem;
    background: #f1f1f1;
    color: #111;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    border-radius: 0.2rem;
    z-index: 1000;
}
.creat-room-header{
	position: relative;
	width: 100%;
	overflow: hidden;
	color: #555;
	font-size: 0.6rem;
	border-bottom: 1px solid #e1e1e1;
}
.creat-room-header span{
	display: inline-block;
	padding-left: 0.5rem;
	height: 2rem;
	line-height: 2rem;
}
.icon-chuangjianxiaozu{
	font-size: 1rem;
	padding-right: 0.2rem;
}
.icon-guanbi{
	height: 2rem;
	line-height: 2rem;
	display: inline-block;
	float: right;
	padding: 0 0.5rem;
}
.creat-room-name{
	display: block;
	width: 80%;
	height: 1.5rem;
	margin: 0.5rem auto;
	border: 1px solid #e1e1e1;
	color:#333;
	font-size: 0.6rem;
	padding: 0 0.5rem;
}
.creat-room-detail{
	display: block;
    width: 80%;
    margin: 0 auto 0.5rem auto;
    resize: none;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    height: 3.25rem;
    font-size: 0.55rem;
    padding: 0.2rem;
}
.creat-room-btn{
	display: block;
	width: 80%;
	margin: 0.8rem auto 1rem auto;
	background: #eacb20;
	overflow: hidden;
	color:#fff;
	border-radius: 4px;
}
.loading-box{
	display: inline-block;
	height: 1.5rem;
	line-height: 1.5rem;
}
.css-loading{
	margin: 0.4rem 0.2rem 0 0;
}
.css-loading-text{
	display: inline-block;
	height: 1.5rem;
	line-height: 1.5rem;
	font-size: 0.75rem;
}
.room-enter{
    opacity: 0;
    transform: translate3d(-50%,-50%,0) scale(1.2);
    -webkit-transform: translate3d(-50%,-50%,0) scale(1.2);
}
.room-enter-active{
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
}
.room-leave-active{
    opacity: 0;
    transform: translate3d(-50%,-50%,0) scale(0.8);
    -webkit-transform: translate3d(-50%,-50%,0) scale(0.8);
    transition: opacity 0.5s, transform 0.5s;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
}
.popup-text{
	background: rgba(0,0,0,0.8);
	color:#fff;
}